.slick-list {
  @include when(sm) { margin: 0 space(xxxl); }
  margin-bottom: space(xxxl);
}
.slick-track {
  display: flex;
}
.slick-slide {
  height: auto;
}
.slick-prev {
  background-color: transparent;
}
.slider-button-left,
.slider-button-right {
  position: absolute;
  @include when(sm) { top: 0; }
  bottom: 0;
  padding: space(md);
  @include when(sm) { width: auto; }
  width: 50%;
}
.slider-button-left {
  left: 0;
}
.slider-button-right {
  right: 0;
  text-align: right;
}
.slider-button-left i,
.slider-button-right i {
  @include centered();
}
