
// target only select pages
.node-type-donation,
.node-type-membership-page {

  // set background image
  .hero {
    @extend .background-size--cover;
    @extend .position--absolute;
    //@extend .background-color--orange;
    background-image: url('../img/donation-hero.jpg');
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    //background-color: $gray-1;
  }

  // show full form on error
  .errors {
    .donation-step {
      @extend .xs--show;
    }
    .steps,
    .previous-next {
      @extend .xs--hide;
    }

  }

  //@extend .background-color--orange;

  // compress the nav
  .header__logo-image {
    max-height: 40px;
  }
  header {
    background-color: $gray-1;
    .container {
      @extend .sm--padding-y--md;
    }
  }
  #logo {
    background-image: url(../img/NKF-logoR_Hori_OB.png);
  }
  .main {
    //@extend .background-color--gray-1;
    @extend .padding-bottom--xxxl;
  }
  // hide title from view
  h1 {
    //@extend .invisible;
    @extend .caps;
    //@extend .font-weight--400;
    @extend .font-size--xl;
    //@extend .sm--width--60;
    //@extend .text-align--center;
    //@extend .color--white;
  }
  // hide tabs for anon
  &.not-logged-in {
    .tabs {
      display: none !important;
    }
  }

  .donation-step__inner {
    @extend .position--relative;
    @extend .padding--lg;
    @extend .padding-bottom--xl;
  }


  // this is the form container
  #redhen-donation-form {
    @extend .border-radius--lg;
    @extend .width--100;
    @extend .padding--none;
    @extend .border-width--none;
    //@extend .border-width--xs;
    //@extend .border-style--solid;
    //@extend .border-color--gray-4;
    //@extend .position--absolute;
    //box-shadow: 0 1px 15px rgba(0,0,0,0.5);
    //border: solid $gray-1;
    //border-width: 0 border-width(xl);
    background-color: #fafafa;
  }

  .form-item label {
    @extend .font-weight--400;
    //@extend .font-size--lg;
    &:not(.option) {
      white-space: nowrap;
    }
  }

  // reset basic form elements
  .form-text {
    @extend .width--100;
  }

  .form-item {
    @extend .width--100;
    @extend .padding--xs;
    // reset sub form items
    .form-item {
      @extend .padding--none;
    }
  }

  .description {
    @extend .color--gray-4;
  }

  fieldset {
    @extend .padding--none;
  }

  legend {
    //@extend .caps;
    @extend .grid-cell;
    @extend .width--100;
    @extend .text-align--center;
    @extend .border-bottom-width--none;
    @extend .h3;
    @extend .padding--none;
    @extend .padding-top--sm;
    @extend .padding-bottom--lg;
  //  @extend .color--orange;
  }

  // Amount section
  // hide amount label
  .form-item-donation.form-type-textfield label {
    //@extend .hide;
  }
  .form-item-donation .description {
    @extend .hide;
  }
  .form-type-textfield.form-item-donation {
    @extend .sm--width--50;
    @extend .center;
    @extend .text-align--center;
    @extend .padding-y--md;
  }
  // hide radio buttons
  .form-item-donation-select > label:not(.option),
  .form-item-field-member-category-und > label:not(.option) {
    @extend .hide;
  }

  .form-type-radio.form-item-donation-select,
  .form-item.form-item-donation-other {
    @extend .padding--xs;
  }
  .form-item.form-type-select-or-other {
    @extend .padding--none;
  }
  .amount-options {
    @extend .grid;
  }

  #edit-donation-select,
  #edit-field-member-category-und {
    @extend .grid;
    @extend .width--100;
    > * {
      @extend .grid-cell;
      //@extend .sm--width--25;
      @extend .width--50;
      @extend .padding--xs;
    }
    input {
      @extend .hide;
    }
    label {
      @extend .button--outline--blue;
      @extend .padding--md;
      @extend .width--100;
    }
    input:checked+label{
      @extend .button--outline--blue:focus;

    }
  }
  .form-item-donation-other {
    @extend .sm--width--50;
  }


  // contact information
  #edit-redhen-contact {
    @extend .grid;
  }

  .form-item-email {
    @extend .grid-cell;
    @extend .sm--width--50;
  }
  .field-name-field-phone {
    @extend .grid-cell;
    @extend .sm--width--50;
  }
  .field-type-mailchimp-lists-subscription {
    @extend .grid-cell;
  }

  #edit-name {
    @extend .grid;
  }

  .form-item-first-name,
  .form-item-last-name,
  .field-name-field-company-name,
  .field-name-field-professional-credentials,
  .field-name-field-prefix {
    @extend .grid-cell;
    @extend .sm--width--50;
  }
  .field-name-field-isrnm-co-membership {
    @extend .text-align--center;
  }

  // Address section
  .field-type-addressfield legend {
    @extend .hide;
  }
  .country {
    @extend .width--100;
  }

  .street-block {
    @extend .grid;
    .form-item {
      @extend .grid-cell;
    }
  }
  .form-item-commerce-customer-address-und-0-thoroughfare {
    @extend .width--100;
    @extend .sm--width--75;
  }
  .form-item-commerce-customer-address-und-0-premise {
    @extend .width--100;
    @extend .sm--width--25;
  }

  .locality-block {
    @extend .grid;
    .form-item {
      @extend .grid-cell;
    }
    .form-item-commerce-customer-address-und-0-locality {
      @extend .width--100;
      @extend .sm--width--55;
      @extend .margin--none;
    }
    .form-item-commerce-customer-address-und-0-administrative-area {
      @extend .width--100;
      @extend .sm--width--20;
      @extend .margin--none;
    }
    .state {
      @extend .width--100;
    }
    .form-item-commerce-customer-address-und-0-postal-code {
      @extend .width--100;
      @extend .sm--width--25;
      @extend .margin--none;
    }
  }

  // honor/memorial
  .required-fields {
    @extend .grid;
    > div {
      @extend .grid-cell;
      @extend .width--100;
    }
    .field-name-field-honoree-first-name,
    .field-name-field-honoree-last-name {
      @extend .sm--width--50;
    }
  }

  // notified
  .field-name-field-notify-firstname,
  .field-name-field-notify-lastname {
    @extend .grid-cell;
    @extend .width--100;
    @extend .sm--width--50;
  }

  .form-item-field-notified-party-und-0-field-notify-address-und-0-administrative-area {
    @extend .grid-cell;
    @extend .width--100;
    @extend .sm--width--70;
    @extend .margin--none;
    @extend .margin-right--none;
  }
  .form-item-field-notified-party-und-0-field-notify-address-und-0-postal-code {
    @extend .grid-cell;
    @extend .width--100;
    @extend .sm--width--30;
    @extend .margin--none;
    @extend .margin-right--none;
  }
  // Office
  .form-item-field-benefiting-office-und select {
    @extend .width--100;
  }
  #payment-details {
    @extend .grid;
  }
  .form-item-payment-details-credit-card-number {
    @extend .width--100;
    @extend .grid-cell;
  }
  .commerce-credit-card-expiration {
    @extend .grid-cell;
    @extend .width--100;
    @extend .sm--width--50;
    //display: table-row;
    .form-item {
      display: table-cell;
      width: 50%;
      vertical-align: bottom;
    }
    select {
      width: 100%;
    }
  }
  .commerce-month-year-divider {
    @extend .hide;
  }
  .form-item-payment-details-credit-card-code {
    @extend .grid-cell;
    @extend .sm--width--50;
    //width: 50% !important;
  }

  // submit button
  .form-actions {
    @extend .padding-y--xxxl;
    @extend .text-align--center;
  }
  .form-submit {
    @extend .button--blue;
    //@extend .color--white;
    @extend .padding--lg;
    @extend .text-transform--uppercase;
  }

  //signup
  .form-item-signup {
    @extend .text-align--center;
  }

  // steps
  // previous next
  .previous-next {
    @extend .padding-x--lg;
    @extend .padding-y--md;
    //@extend .background-color--orange;
    //@extend .margin-top--lg;
    @extend .border-width--none;
    //@extend .border-top-width--xs;
    //@extend .border-color--gray-4;
    //@extend .border-style--solid;
    @extend .sm--show;
    background-color: $gray-1;
    border-radius: 0 0 3px 3px;
  }
  .next {
    @extend .button--blue;
    @extend .float--right;
    @extend .caps;
    //background-color: $gray-3;
    //color: $black;
    //border-color: $gray-3;
  }
  .previous {
    @extend .button--white;
    @extend .float--left;
    @extend .caps;
  }
  .steps {
    @extend .grid;
    @extend .text-align--center;
    @extend .padding-y--md;
    @extend .border-width--none;
    //@extend .background-color--orange;
    //@extend .border-bottom-width--xs;
    //@extend .border-style--solid;
    //@extend .border-color--gray-4;
    background-color: $gray-1;
    border-radius: 3px 3px 0 0;
  }
  .step {
    @extend .grid-cell;
    @extend .margin-x--xs;
    @extend .circle;
    height: scale(3);
    width: scale(3);
    line-height: scale(3);
  }
  .step.active {
    background-color: $gray-3;
    color: $black;
  }
}
