
// only for node-type-donation
.node-type-donation {
  h1 {
    display: none;
  }
  .node-title {
    //@extend .caps;
    @extend .font-size--xl;
    font-weight: normal;
    margin: 0 0 space(md);
    text-align: center;
  }
  .donation__container {
    background-color: rgba(255, 255, 255, .35);
    max-width: 475px;
    padding: space(xl) space(lg);
  }
}

// target only select pages
.node-type-donation,
.node-type-membership-page,
.node-type-fundraising-campaign,
.page-campaigns {

  // set background image
  .hero {
    @extend .background-size--cover;
    position: absolute;
    background-repeat: no-repeat;
    min-height: 550px;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: $gray-1;
  }

  // show full form on error
  .errors {
    .donation-step {
      @extend .xs--show;
    }
    .steps,
    .previous-next {
      @extend .xs--hide;
    }
  }

  // Header and Logo
  header {
    background-color: $white;
    text-align: center;
    .container {
      @extend .sm--padding-y--md;
    }
  }
  .header__brand {
    @extend .width--100;
  }
  .header__nav {
    display: none;
  }
  .header__logo-image {
    max-height: 40px;
  }
  #logo {
    background-image: url(../img/NKF-logoR_Hori_OB.png);
  }

  // main section tweaks
  .main {
    @extend .padding-bottom--xxxl;
    background-color: $gray-1;
  }
  h1 {
    @extend .caps;
    @extend .font-size--xl;
  }
  // hide tabs for anon
  &.not-logged-in {
    .tabs {
      display: none !important;
    }
  }


  // donation form
  [id*="redhen-donation-form"] {
    position: relative;
    @extend .width--100;
    max-width: 475px;
    background-color: $white;
    padding: 0;
    border: 1px solid $gray-1;

  }

  .form-item label {
    @extend .font-weight--400;
    &:not(.option) {
      white-space: nowrap;
    }
  }

  // reset basic form elements
  .form-text {
    @extend .width--100;
  }

  .form-item {
    @extend .width--100;
    padding: space(xs);
    // reset sub form items
    .form-item {
      padding: 0;
    }
  }
  .description {
    color: $gray-4;
  }
  fieldset {
    padding: 0;
  }
  legend {
    @extend .grid-cell;
    @extend .width--100;
    text-align: center;
    border-bottom-width: 0;
    font-size: $h3;
    padding: space(sm) 0 space(lg) 0;

  }
  // hide labels for all select lists
  // this is because we are using placeholders
  // for other elements
  .form-type-select label {
    display: none;
  }

  // Amount section
  .form-item-donation .description {
    @extend .hide;
  }
  .form-type-textfield.form-item-donation {
    @extend .sm--width--50;
    @extend .center;
    padding-top: space(md);
    padding-bottom: space(md);
    input {
      text-align: center;
      font-weight: bold;
      padding: 0 space(xl);
      height: height(md);
      font-size: font-size(xl);
    }
  }
  // hide radio buttons
  .form-item-donation-select > label:not(.option),
  .form-item-field-member-category-und > label:not(.option) {
    @extend .hide;
  }
  .form-type-radio.form-item-donation-select,
  .form-item.form-item-donation-other {
    padding: space(xs);
  }
  .form-item.form-type-select-or-other {
    padding: 0;
  }
  .amount-options {
    @extend .grid;
  }

  // if donation amount is select or other field
  #edit-donation-select {//,
  //#edit-field-member-category-und {
    @extend .grid;
    @extend .width--100;
    > * {
      @extend .grid-cell;
      @extend .width--50;
      padding: space(xs);
    }
    input {
      @extend .hide;
    }
    label {
      @extend .button--outline--blue;
      padding: space(md);
      @extend .width--100;
    }
    input:checked+label{
      @extend .button--outline--blue:focus;

    }
  }
  .form-item-donation-other {
    @extend .sm--width--50;
  }


  // contact information
  #edit-redhen-contact {
    @extend .grid;
  }
  #edit-name {
    @extend .grid;
  }
  .form-item-first-name,
  .form-item-last-name,
  .form-item-email,
  .field-name-field-phone,
  .field-name-field-company-name,
  .field-name-field-professional-credentials,
  .field-name-field-prefix {
    @extend .grid-cell;
    @extend .sm--width--50;
  }
  .field-type-mailchimp-lists-subscription {
    @extend .grid-cell;
  }

  // Address section
  .field-type-addressfield legend {
    @extend .hide;
  }
  .country {
    @extend .width--100;
  }
  .street-block {
    @extend .grid;
    .form-item {
      @extend .grid-cell;
    }
  }
  [class*="-thoroughfare"] {
    @extend .width--100;
  }
  [class*="-premise"]{
    @extend .width--100;
    @extend .sm--width--25;
  }
  .locality-block {
    @extend .grid;
    .form-item {
      @extend .grid-cell;
    }
  }
  [class*="-locality"] {
    @extend .width--100;
    @extend .sm--width--55;
    margin: 0;
  }
  [class*="-administrative-area"] {
    @extend .width--100;
    @extend .sm--width--20;
    margin: 0;
  }
  .state {
    @extend .width--100;
  }
  [class*="-postal-code"]{
    @extend .width--100;
    @extend .sm--width--25;
    margin: 0;
  }

  // honor/memorial
  .required-fields {
    @extend .grid;
    > div {
      @extend .grid-cell;
      @extend .width--100;
    }
    .field-name-field-honoree-first-name,
    .field-name-field-honoree-last-name {
      @extend .sm--width--50;
    }
  }

  // notified
  .field-name-field-notify-firstname,
  .field-name-field-notify-lastname {
    @extend .grid-cell;
    @extend .width--100;
    @extend .sm--width--50;
  }

  // Office
  .form-item-field-benefiting-office-und select {
    @extend .width--100;
  }

  // credit card
  #payment-details {
    @extend .grid;
  }
  .form-item-payment-details-credit-card-number {
    @extend .width--100;
    @extend .grid-cell;
    @extend .grid;
  }
  .commerce-credit-card-expiration {
    @extend .grid-cell;
    @extend .width--100;
    @extend .sm--width--50;
    .form-item {
      display: table-cell;
      //@extend .grid-cell;
      @extend .width--50;
      vertical-align: bottom;
    }
    select {
      @extend .width--100;
    }
  }
  .commerce-month-year-divider {
    @extend .hide;
  }
  .form-item-payment-details-credit-card-code {
    @extend .grid-cell;
    @extend .sm--width--50;
  }

  // "hidden" sub sections
  .field-name-field-company-match,
  .honor-info,
  .field-name-field-benefiting-office {
    margin: 0 space(xs) space(xs);
    background-color: $gray-1;
  }

  // submit button
  .form-actions {
    padding-top: space(xxxl);
    text-align: center;
  }
  .form-submit {
    @extend .button--blue;
    @extend .width--100;
    padding: space(lg);
    text-transform: uppercase;

  }

  //signup
  .form-item-signup {
    text-align: center;
  }

  // steps
  .donation-step__inner {
    position: relative;
    padding: space(md);
  }
  // previous next
  .previous-next {
    @extend .sm--show;
    margin: 0 space(md) space(lg) space(md);
  }
  .next {
    @extend .button--blue;
    position: relative;
    padding-top: space(lg);
    padding-bottom: space(lg);
    line-height: scale(3);
    i {
      position: absolute;
      right: 0;
      &::before {
        @extend .circle;
        background-color: $white;
        color: color(blue);
        height: scale(3);
        width: scale(3);
        line-height: scale(3);
      }
    }
  }

  .previous {
    position: absolute;
    top: 0;
    left: 0;
    padding: space(sm);
    height: scale(3);
    width: scale(3);
    line-height: scale(3);
    color: $gray-3;
  }
  .steps {
    @extend .grid;
    padding: space(sm) 0;
    text-align: center;
    background-color: $white;
    border-bottom: 1px solid $gray-2
  }
  .step {
    @extend .grid-cell;
    @extend .circle;
    margin: 0;
    height: scale(3);
    width: scale(3);
    line-height: scale(3);
  }
  .step.active {
    padding: scale(md);
    background-color: $gray-1;
    color: black;
  }
}
