
// only for node-type-donation
.node-type-donation {
  background-color: $gray-1;
  max-width: base-scale(14);
  margin: 0 auto;
  h1 {
    display: none;
  }
  .donation__container {
    max-width: 430px;
  }
  header {
    display: none;
  }
  legend {
    @include when(sm) { display: none; }
  }
  .donation-step__inner {
    @include when(sm) { border-top: none; }
  }
}

// target only select pages
.has-donation-form {

  // show full form on error
  .page.errors {
    .donation-step {
      display: block !important;
    }
    .steps,
    .previous-next {
      display: none !important;
    }
  }

  // Header and Logo
  header {

    background-color: $white;
    text-align: center;
    .container {
      @include when(sm) {
        padding-top: space(md);
        padding-bottom: space(md);
      }
    }
  }
  .header__brand {
    //width: 100%;
  }
  .header__nav {
    //display: none;
  }
  .header__logo-image {
    max-height: 40px;
  }
  #logo {
    @include when(md) { background-image: url(../img/NKF-logoR_Hori_OB.png); }
    background-image: url(../img/logo__bean--orange.png);
  }

  // main section tweaks
  .main {
    padding-bottom: space(xxxl);
    background-color: $gray-1;
  }
  h1 {
    @include caps();
    font-size: font-size(xl);
  }
  // hide tabs for anon
  &.not-logged-in {
    .tabs {
      display: none !important;
    }
  }
  .donation__header {
    background-image: url(../img/logo__bean--white.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 60px;
  }

  // donation form
  [id*="redhen-donation-form"] {
    position: relative;
    width: 100%;
    max-width: 520px;
    background-color: $white;
    padding-bottom: space(xl);
  }

  .form-item label {
    font-weight: 400;
    width: 100%;
    &:not(.option) {
      white-space: nowrap;
    }
  }

  // reset basic form elements
  .form-text,
  select {
    width: 100%;
  }

  .form-item {
    width: 100%;
    padding: space(xxs);
    @include grid-cell();
    // reset sub form items
    .form-item {
      padding: 0;
    }
  }
  .description {
    color: $gray-4;
  }
  fieldset {
    padding: 0;
    border: none;
    text-align: center;
  }
  legend {
    //@include grid-cell();
    width: 100%;
    font-weight: bold;
    text-align: center;
    border-bottom-width: 0;
    padding: space(md) 0 space(md) 0;
    text-transform: uppercase;
  }
  input[type=checkbox]:checked+label:before,
  input[type=radio]:checked+label:before {
    color: color(blue);
  }

  // hide labels for all select lists
  // this is because we are using placeholders
  // for other elements
  .form-type-select label {
    //display: none;
  }

  // Amount section
  .form-item-donation .description {
    @include hide();
  }
  .form-type-textfield.form-item-donation {
    position: relative;
    padding-top: space(md);
    padding-bottom: space(md);
    display: block;
    &::before {
      content: "$ ";
      position: absolute;
      bottom: space(md);
      line-height: base-scale(4);
      left: space(md);
    }
    &.recurring::after {
      content: " /mo";
      position: absolute;
      bottom: space(md);
      line-height: base-scale(4);
      right: space(md);
      color: $gray-3;
    }
    input {
      font-weight: bold;
      padding: 0 space(lg);
      font-size: font-size(lg);
    }
  }

  .recurring-button {
    &:after {
      content: ' /mo';
      color: $gray-4;
      font-size: font-size(sm);
    }
  }

  // hide radio buttons
  .form-item-donation-select > label:not(.option),
  .form-item-field-member-category-und > label:not(.option) {
    @include hide();
  }
  .form-type-radio.form-item-donation-select,
  .form-item.form-item-donation-other {
    padding: space(xs);
  }
  .form-item.form-type-select-or-other {
    padding: 0;
  }
  .amount-options {
    @include grid();
  }

  // if donation amount is select or other field
  .form-type-radios.form-item-field-membership-term-und > label {
    @include hide();
  }
  .form-type-radios.form-item-product {
    padding-top: 0;
    > label {
      display: none;
    }
  }
  .form-item-product .form-radios {
    @include grid();
    padding-bottom: space(sm);
    width: 100%;
    text-align: center;
    > * {
      @include grid-cell();
      width: auto;
      padding: 0 space(xs);
    }
    input {
      @include hide();
    }
    label {
      @include caps();
      font-size: font-size(sm);
      font-weight: bold;
      padding: space(xxs);
      margin: 0;
      color: $gray-3;
      border-bottom: 3px solid transparent;
      &::before { display: none; }
    }
    input:checked+label{
      border-color: color(blue);
      color: color(blue);
    }
  }
  #edit-donation-select,
  #edit-field-membership-term-und {
    @include grid();
    padding-bottom: space(lg);
    width: 100%;
    > * {
      @include grid-cell();
      width: 50%;
      padding: 0 space(sm) space(sm) 0;
    }
    input {
      @include hide();
    }
    label {
      @include button();;
      width: 100%;
      background-color: $gray-1;// !important;
      &::before { display: none; }
    }
    input:checked+label{
      @extend .button--blue;
    }
  }
  .one-term #edit-field-membership-term-und > * {
    width: 100%;
  }
  .form-item-donation-other {
    @include when(sm) { width: 50%; }

  }


  // contact information
  #edit-redhen-contact .fieldset-content{
    @include grid();
  }
  #edit-name {
    @include grid();
  }
  .form-item-first-name,
  .form-item-last-name,
  .form-item-email,
  .field-name-field-phone,
  .field-name-field-company-name,
  .field-name-field-professional-credentials,
  .field-name-field-prefix,
  .field-name-field-professional-category {
    @include grid-cell();
    width: 100%;
    @include when(sm) { width: 50%; }
  }
  .field-type-mailchimp-lists-subscription {
    @include grid-cell();
  }

  // Address section
  .field-type-addressfield legend {
    @include hide();
  }
  .country {
    width: 100%;
  }
  .street-block {
    @include grid();
    .form-item {
      @include grid-cell();
    }
  }
  [class*="-thoroughfare"] {
    width: 100%;
  }
  [class*="-premise"]{
    width: 100%;
  }
  .locality-block {
    @include grid();
    .form-item {
      @include grid-cell();
    }
  }
  [class*="-locality"] {
    width: 100%;
    @include when(sm) { width: 55%; }
    margin: 0;
  }
  [class*="-administrative-area"] {
    width: 100%;
    @include when(sm) { width: 20%; }
    margin: 0;
  }
  .state {
    width: 100%;
  }
  [class*="-postal-code"]{
    width: 100%;
    @include when(sm) { width: 25%; }
    margin: 0;
  }

  // honor/memorial
  .required-fields {
    @include grid();
    background-color: $gray-1;
    > div {
      @include grid-cell();
      width: 100%;
    }
    .field-name-field-honoree-first-name,
    .field-name-field-honoree-last-name {
      @include when(sm) { width: 50%; }
    }
  }

  // notified
  .field-name-field-notified-party {
    //padding-top: space(md);
    margin-bottom: space(md);
  }

  .field-name-field-notify-firstname,
  .field-name-field-notify-lastname {
    @include grid-cell();
    width: 100%;
    @include when(sm) { width: 50%; }
  }

  // Office
  .form-item-field-benefiting-office-und select {
    width: 100%;
  }
  // payment options
  [id^=edit-payment-method]{
    @include grid();
  }
  .form-type-radio.form-item-payment-method {
    @include grid-cell();
    width: 50%;
    padding: space(xxs);
    position: relative;
    label {
      @include button();
      background-color: $gray-1;
      border-color: $gray-1;
      text-align: left;
      white-space: nowrap;
    }
    .progress {
      position: absolute;
      z-index: 100;
      padding: 0 space(lg);
    }
  }
  .commerce-paypal-ec-info {
    @include grid-cell();
    padding-top: space(md);
    padding-left: space(lg);
    padding-right: space(lg);
  }
  .form-type-radios.form-item-payment-method > label {
    text-align: center;
  }
  // credit card
  #payment-details {
    @include grid();
  }
  .form-item-payment-details-credit-card-number {
    width: 100%;
    @include grid-cell();
  }
  .form-item-payment-details-credit-card-type{
    width: 100%;
    @include grid-cell();
    select {
      width: 100%;
    }
  }
  .commerce-credit-card-expiration {
    @include grid-cell();
    width: 60%;
    //@include when(xs) { width: 100%; }
    .form-item {
      display: table-cell;
      //@include grid-cell();
      width: 50%;
      vertical-align: bottom;
    }
    select {
      width: 100%;
    }
  }
  .commerce-month-year-divider {
    @include hide();
  }
  .form-item-payment-details-credit-card-code {
    @include grid-cell();
    width: 40%;
    //@include when(xs) { width: 100%; }
  }

  // "hidden" sub sections
  .field-name-field-company-match,
  .honor-info,
  .field-name-field-benefiting-office {
    margin: 0 space(xs) space(xs);
    background-color: $gray-1;
  }

  // submit button
  .form-actions {
    padding-top: space(xxxl);
    text-align: center;
    @include grid();
    > * {
      @include grid-cell();
      //width: 50%;
    }
    .form-submit {
      @extend .button--blue;
      padding-top: space(lg);
      padding-bottom: space(lg);
      padding-right: space(xl);
      padding-left: space(xl);
    }
  }


  //signup
  .form-item-signup {
    text-align: center;
  }

  // steps
  .donation-step {
    //border-top: 1px solid $gray-2;
    //padding: space(lg) 0;
    //overflow: hidden;
    //@include when(sm) { padding: 0 };
    //@include when(sm) { border-top: none; }
  }
  .donation-step__inner {
    border-top: 1px solid $gray-1;
  }
  // previous next
  .previous-next {
    display: none;
    text-align: center;
    @include when(sm) { display: block !important; }
    //margin: 0 space(md) space(lg) space(md);
    //@include when(md) { margin: space(lg) space(xl)  };
  }
  .next {
    //@extend .button--blue;
    //position: relative;
    //padding-top: space(md);
    //padding-bottom: space(md);
  }

  .previous {
    position: absolute;
    top: 0;
    left: 0;
    padding: space(xxs) space(sm);
    height: base-scale(3);
    width: base-scale(3);
    line-height: base-scale(3);
    color: color(blue);
  }

  .step.active {
    background-color: color(blue);
  }
}
