
.form-item {
  @extend .padding-y--sm;
}

.form-item .description {
  @extend .color--gray-3;
}

.form-type-checkbox,
.form-type-radio {
  position: relative;
  label {
    padding-left: 33px;
    cursor: pointer;
    &:before {
      content: "";
      display: inline-block;
      border: 1px solid $gray-2;
      border-radius: border-width(sm);
      height: 23px;
      width: 23px;
      background-color: $white;
      position: absolute;
      text-align: center;
      left: .5rem;
      color: $black;
      font-weight: bold;
      font-size: font-size(lg);
    }
  }
  .description {
    padding-left: 33px;
  }
  input {
    @extend .invisible;
  }
  input[type=checkbox]:checked+label:before {
    content: "\00d7";
    line-height: 22px;
  }
  input[type=radio]:checked+label:before {
    content: "\00b7";
    line-height: 18px;
  }
  input[type=checkbox]:focus+label:before,
  input[type=radio]:focus+label:before  {
    border-color: $gray-4;
  }
}
.form-type-radio label {
  margin-top: space(xxs);
  margin-bottom: space(xxs);
  &:before {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 14px;
    font-size: 2.6rem;
    left: .1rem;
    top: 50%;
    transform : translateY(-50%);
  }
}
