
fieldset {
  margin: 0;
  padding: space(md);
  border: solid $gray-2 border-width(xs);
  .collapsed {
    padding: 0 space(md);
    border-width: 1px 0 0 0;
  }
}
legend {
  display: block;
  width: width(100);
  padding: space(sm);
}

.form-item,
.form-actions {
  padding-top: space(xs);
  padding-bottom: space(xs);
  .form-item,
  .form-actions {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form-item .description {
  color: $gray-3;
}

.form-type-checkbox,
.form-type-radio {
  position: relative;
  label {
    //padding-left: 33px;
    cursor: pointer;
    &::before {
      content: "";
      display: block;
      border: 1px solid $gray-2;
      border-radius: border-width(sm);
      height: 23px;
      width: 23px;
      background-color: $white;
      position: relative;
      text-align: center;
      //left: .5rem;
      color: $black;
      font-weight: bold;
      //font-size: font-size(lg);
      float: left;
      margin-right: 7px;
      z-index: 100;
    }
  }
  .description {
    padding-left: 30px; //23px + 7px;
  }
  input {
    //@extend .invisible;
    opacity: 0;
    position: absolute;
    width: 23px;
    height: 23px;
    margin-top: 2px;
    z-index: 0;
  }
  input[type=checkbox]:checked+label:before {
    content: "\e804";
    line-height: 22px;
    font-family: fontello;
    border-color: currentColor;
  }
  input[type=radio]:checked+label:before {
    //content: "\00b7";
    //line-height: 18px;
    //border-width: 8px;
    border-color: currentColor !important;
    border-color: currentColor!important;
    box-shadow: inset 0 0 0 5px #fff;
    background-color: currentColor;
  }
  input[type=checkbox]:focus+label:before,
  input[type=radio]:focus+label:before  {
    border-color: $gray-4;
  }
  input.error+label:before {
    border-color: color(red) !important;
  }
}
.form-type-radio label {
  margin-top: space(xxs);
  margin-bottom: space(xxs);
  &::before {
    border-radius: 50%;
  }
}
.radio--button .form-type-radio {
  label {
    @include button();
    margin-top: 0;
    margin-bottom: 0;
    &::before {
      display: none !important;
    }
  }

}
.g-recaptcha {
  padding: 0 space(xs);
}
.g-recaptcha > div {
  margin: space(lg) auto 0;
}
