
#logo {
  background-size: contain;
  display: inline-block;;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  @include when(sm) { width: 300px; }
  @include when(sm) { background-image: url(../logo.png); }
  background-image: url(../img/logo__bean--white.png);

  // Spring Clinical 2017
  &.scm, &.spring-clinical {
    background-image: url(../img/SCM18_Lockup_w.png) !important;
    height: 110px;
    width: 100%;
  }
  &.support-kidneycars {
    background-image: url(../img/NKF-Cars_LockupR_W.png) !important;
    height: 110px;
    width: 100%;
  }

}

.logo--wb #logo {
  @include when(sm) { background-image: url(../logo.png); }
  background-image: url(../img/logo__bean--white.png);
}

.logo--w #logo {
  @include when(sm) { background-image: url(../img/NKF-logoR_Hori_W.png); }
  background-image: url(../img/logo__bean--white.png);
}
