
#logo {
  background-size: contain;
  display: inline-block;;
  background-repeat: no-repeat;
  height: 56px;
  width: 56px;
  @include when(md) { width: 300px; }
  @include when(md) { background-image: url(../logo.png); }
  background-image: url(../img/logo__bean--white.png);
}
@media print {
  #logo::before {
    content: url("../img/NKF-logoR_Hori_OB.png")
  }
}
