.node-type-membership-page {
  .field-name-field-prefix {
    width: 100%;
    @include when(sm) { width: 20%; }
  }
  #edit-name {
    width: 100%;
    @include when(sm) { width: 80%; }
    display: inline-block;
  }
}
#edit-field-professional-subspecialty-und {
  max-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #DBDDDF;
  padding: 8px;
  border-radius: 2px;
  > .form-type-checkbox {
    float: left;
    width: 50%;
    padding: 2px 0;
  }
}
