.node-type-membership-page {
  .field-name-field-prefix {
    width: 100%;
    @include when(sm) { width: 20%; }
  }
  #edit-name {
    width: 100%;
    @include when(sm) { width: 80%; }
    display: inline-block;
  }
}
