.menu-nav.expanded {
  box-shadow: inset 0 -7px 0 0 #ffc10e;
  padding-bottom: 0;
  margin-bottom: space(lg);
}
nav.burger-time {
  background: white;
  border: 2px solid;
  border-radius: 5px;
  top: 60px;
  z-index: 400;
}
nav.burger-time::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 12px solid transparent;
  border-bottom: 12px solid #000;
  border-right: 12px solid transparent;
  left: 50%;
  top: -24px;
  border-left: 12px solid transparent;
  margin-left: -12px;
}
nav.burger-time::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  left: 50%;
  top: -19px;
  border-left: 10px solid transparent;
  margin-left: -10px;
}
