
.nav {
  .menu {
    //@include grid();
    margin: 0;
    @include when(sm) { padding: 0; }
    padding: space(xxl) space(md) space(md);
    @include when(sm) { display: table-row; }
    @include when(sm) { position: static; }
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    float: right;
    list-style: none;
    z-index: 2;
    @include when(sm) { background-color: transparent; }
    background-color: color(orange);
  }
  li {
    //@include grid-cell();
    @include when(sm) { display: table-cell; }
    display: block;
    height: 56px;
    vertical-align: middle;
  }
  a {
    text-transform: uppercase;
    font-size: .9rem;
    white-space: nowrap;
    display: inline-block;
    padding: space(sm) space(sm);
  }
}

.nav__menu {
  @include when(sm) { @include hide(); }
  position: absolute;
  top: 0;
  right: 0;
  padding: space(lg) space(md) space(md) space(md);
  z-index: 3;
  font-size: font-size(xl);
}
.nav--primary {

  @include when(sm) {
    //border-bottom: solid color(red) border-width(lg);
  }
  li {
    width: 100%;
    @include when(sm) { width: auto; }
  }
  a {
    //background-color: $white;
    //border-width: 0 0 border-width(lg) 0;
    //border-style: solid;
    position: relative;
    color: $white;
    width: 100%;
    @include when(sm) {
      //margin-bottom: -7px; //hack
      width: auto;
    }
    &:hover {
      color: $black;
    }
    /*&::before {
      @include cover-absolute();
      content: '';
      display: block;
      opacity: .3;
    }
    &:hover::before {
      opacity: .4;
    }*/
  }
  /*
  .awareness {
    border-color: color(orange);
    &::before {
      background-color: color(orange);
    }
  }
  .prevention {
    border-color: color(yellow);
    &::before {
      background-color: color(yellow);
    }
  }
  .patients {
    border-color: color(lime);
    &::before {
      background-color: color(lime);
    }
  }
  .professionals {
    border-color: color(red);
    &::before {
      background-color: color(red);
    }
  }
  .involved {
    border-color: color(blue);
    &::before {
    background-color: color(blue);
    }
  }
  .search {
    border-color: color(navy);
    background-color: color(navy);
    color: $white;
    &:hover {
      color: $white;
    }
    &::before {
      @include hide();
    }
  }
  */
  .active {
    color: $black;
    &::before {
      @include hide();
    }
  }

}

.nav--secondary {
  text-align: right;
  .donate {
    @extend .button--white;
    padding: space(md);
    &::before {
      @extend .button--outline--white::before;
    }
    &:hover::before,
    &:focus::before {
      @extend .button--outline--white:hover::before;
    }
    //@extend .background-color--white;
  }
}
