
@media print {
  // decrease size of text
  html {
    font-size: 12px;
  }
  // hack to deal with extra blank pages
  div {
    border: 1px solid white;
  }
  header {
    background-color: $white !important;
    //border-bottom: border-width(xl) solid color(orange);
  }
  #logo {
    background-image: none;
    min-height: 100px;
    padding: space(md) 0;
    &::before {
      content: url("../img/NKF-logoR_Hori_OB.png")
    }
  }

  .header__nav,
  footer {
    display: none;
  }
}
