.view.grid {
  .view-header,
  .view-filters,
  .view-footer {
    @include grid-cell();
  }
}

.grid > .view-content {
  @include grid();
  width: 100%;
}
.grid--center > .view-content {
  @include grid();
  justify-content: center;
  width: 100%;
}
