// This is for the body tag.
.wFormWebPage {
  background-color: color('gray-1');
}

// Main content container.
#tfaContent {
  position: relative;
}

#tfaContent:after {
  background: color(orange);
  width: 100%;
  height: 300px;
  content: '';
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: url(http://event-nkf.pantheonsite.io/profiles/kidneys_distro/themes/custom/nkf_base/img/NKF-logoR_Hori_W.png);
  background-position: center 25px;
  background-repeat: no-repeat;
}

// Form container.
.wFormContainer {
  position: relative;
  z-index: 2;
  top: 120px;
}
.wForm {
  background-color: color(white);
  margin: 0 space(md);
  border-top: space(sm) solid color(gray-4);
}

.wForm .primaryAction {
  @extend .button--orange;
}
.wForm fieldset {
  @extend fieldset;
  margin-top: space(md);
}

// Hack for wide select list.
.wForm select {
  @include when(md) { width: auto; }
  width: 100%;
}
