
.background-hero {
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  background-position: bottom right;
  //background-position: center left;
  //background-attachment: fixed;
}
