button,
input[type="submit"],
.button {
  @extend .display--inline-block;
  @extend .position--relative;
  @extend .text-decoration--none;
  @extend .cursor--pointer;
  @extend .line-height--normal;
  @extend .padding-x--md;
  @extend .padding-y--xs;
  @extend .height--auto;
  @extend .border-width--xs;
  @extend .border-style--solid;
  @extend .vetical-align--middle;
  @extend .border-radius--md;
  @extend .text-align--center;
  @extend .font-weight--400;
  z-index: 2;
  line-height: normal;
  box-sizing: border-box;
  margin: 0;
  -webkit-appearance: none;
  &::before {
    @extend .cover-absolute;
    display: block;
    content: '';
    z-index: -1;
  }
  &:hover::before,
  &:focus::before,
  &.active::before {
    opacity: .725;
  }
}

button:after,
button:before,
input[type="submit"]:after,
input[type="submit"]:before,
.button:after,
.button:before {
  box-sizing: border-box;
}

button:focus,
input[type="submit"]:focus,
.button:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:hover,
input[type="submit"]:hover,
.button:hover {
  @extend .text-decoration--none;
}

button:disabled,
input[type="submit"]:disabled,
.button:disabled,
button.is-disabled,
input[type="submit"].is-disabled,
.button.is-disabled {
  opacity: .5;
}
