@mixin button() {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
  padding: space(xs) space(md);
  height: auto;
  border-width: 0;//border-width(xs);
  border-style: solid;
  vertical-align: middle;
  border-radius: 1000px;//border-width(md);
  vertical-align: middle;
  text-align: center;
  //font-weight: 400;
  z-index: 2;
  line-height: normal;
  box-sizing: border-box;
  margin: 0;
  -webkit-appearance: none;
  //box-shadow: 0 1px 6px rgba(0,0,0,.3);

  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    text-decoration: none;
    color: currentColor;
  }

  &:disabled {
    opacity: .5;
  }
}

button,
input[type="submit"],
.button {
  @include button();
  border-color: color(gray-3);
  background-color: color(gray-3);
  color: color-contrast(color(gray-3));//$white;
  &:visited {
    color: color-contrast(color(gray-3));//$white;
  }
  &:hover{
    background-color: mix(white, color(gray-3), 20%);
    color: color-contrast(mix(white, color(gray-3), 20%));
  }
  &:active,
  &.active {
    background-color: mix(black, color(gray-3), 20%);
    color: color-contrast(mix(black, color(gray-3), 20%));
  }
  &:focus {
    box-shadow: 0 0 2px darken(color(gray-3), 20%);
  }
}
/*
button,
input[type="submit"],
.button {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  line-height: normal;
  padding: space(xs) space(md);
  height: auto;
  border-width: border-width(xs);
  border-style: solid;
  vertical-align: middle;
  //border-radius: border-width(md);
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  z-index: 2;
  line-height: normal;
  box-sizing: border-box;
  margin: 0;
  -webkit-appearance: none;
  //box-shadow: 0 1px 6px rgba(0,0,0,.3);
}

button:after,
button:before,
input[type="submit"]:after,
input[type="submit"]:before,
.button:after,
.button:before {
  box-sizing: border-box;
}

button:focus,
input[type="submit"]:focus,
.button:focus {
  outline: 0;
}


button:hover,
input[type="submit"]:hover,
.button:hover {
  text-decoration: none;
}

button:disabled,
input[type="submit"]:disabled,
.button:disabled,
button.is-disabled,
input[type="submit"].is-disabled,
.button.is-disabled {
  opacity: .5;
}
*/

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
