
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  padding-left: space(xs);
  padding-right: space(xs);
  background-color: $white;
  border: solid $gray-2 border-width(xs);
  border-radius: border-width(sm);
  vertical-align: middle;
  height: base-scale(4);
  box-sizing: border-box;
}
textarea {
  height: auto;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  border-color: $gray-4;
  outline: 0;
}

select:not([multiple]) {
  padding: 0;
  height: base-scale(4);
}

fieldset {
  margin: none;
  padding: space(md);
  border-width: 0;
}
legend {
  display: block;
  width: width(100);
  padding-top: space(md);
  padding-bottom: space(md);
  border-bottom: solid border-width(xs) $gray-2;
;}
