
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea {
  @extend .padding-x--xs;
  @extend .padding-y--md;
  @extend .background-color--white;
  @extend .border-width--xs;
  @extend .border-style--solid;
  @extend .border-color--gray-2;
  @extend .border-radius--sm;
  @extend .vertical-align--middle;
  height: scale(4);
  box-sizing: border-box;
}
textarea {
  height: auto;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
textarea:focus {
  @extend .border-color--gray-4;
  outline: 0;
}

select:not([multiple]) {
  height: scale(4);
}

fieldset {
  @extend .margin--none;
  @extend .padding--md;
  @extend .border-width--none;
}
legend {
  @extend .display--block;
  @extend .width--100;
  @extend .padding-y--md;
  //@extend .margin-bottom--md;
  @extend .border-style--solid;
  @extend .border-bottom-width--xs;
  @extend .border-color--gray-2;
}
