@mixin gridDEPRECATED {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}

@mixin grid-cellDEPRECATED {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  text-align: left;
  font-family: $font-family;
  *zoom: 1;
  *display: inline;
}
@mixin grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@mixin grid-cell {
  display: inline-block;
}

.grid {
  @include grid();
}
.grid--center {
  @include grid();
  justify-content: center;
}
.opera-only :-o-prefocus,
.grid {
  //word-spacing: -0.43em;
}

.grid-cell {
  @include grid-cell();
}
/*
.grid [class *= "grid-cell"] {
  font-family: $font-family;
}*/
.grid-cell {
  //font-family: $font-family;
}
