.grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;
}

.opera-only :-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

.grid-cell {
  display: inline-block;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  *zoom: 1;
  *display: inline;
}
/*
.grid [class *= "grid-cell"] {
  font-family: $font-family;
}*/
.grid-cell {
  font-family: $font-family;
}
