

.tabs {
  li {
    @include grid-cell();
  }
  a,
  a:visited
  a:active {
    padding: space(md) space(xl) space(md) 0;
    text-decoration: none;
    color: $gray-4;
    display: inline-block;
    border-bottom: 7px solid $gray-1;
    &.active {
      color: $black;
      font-weight: bold;
    }
  }
}

.tabs__local {
  li {
    @include grid-cell();
  }
  a,
  a:active
  a:visited {
    padding: space(xs) space(md);
    text-decoration: none;
    color: $gray-4;
    display: inline-block;
    &.active {
      color: $black;
      background-color: $gray-1;
      border-radius: 1000px;
    }
  }
}
