

.tabs {
  @extend .list--grid;
  padding: space(md);
  border: solid $gray-2;
  border-width: 0 0 border-width(md);
  background-color: $gray-1;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  a {
    padding: space(md);
    text-decoration: none;
    color: $gray-4;
    &.active {
      background-color: $white;
      padding-top: space(lg);
      padding-bottm: space(lg);
    }
  }
}
