@each $name, $color in $colors {
  //.background-color,
  .bg {
    &--#{$name} {
      background-color: $color;
    }
    &--#{$name}--l1 {
      background-color: lighten($color, 10%);
    }
    &--#{$name}--l2 {
      background-color: lighten($color, 20%);
    }
    &--#{$name}--d1 {
      background-color: darken($color, 10%);
    }
    &--#{$name}--d2 {
      background-color: darken($color, 20%);
    }
    @each $perc in (10,20,30,40,50,60,70,80,90) {
      &--#{$name}--o#{$perc} {
        background-color: rgba($color, $perc/100);
      }
    }
  }
  .hover {
    //&--background-color--#{$name}:hover,
    &--bg--#{$name}:hover {
      background-color: $color;
    }
  }
}
.background-color,
.bg {
  //&--white   { background-color: $white; }
  //&--gray-1  { background-color: $gray-1; }
  //&--gray-2  { background-color: $gray-2; }
  //&--gray-3  { background-color: $gray-3; }
  //&--gray-4  { background-color: $gray-4; }
  //&--gray-5  { background-color: $gray-5; }
  //&--black   { background-color: $black; }
  //&--twitter   { background-color: $twitter; }
  //&--facebook   { background-color: $facebook; }
  //&--instagram   { background-color: $instagram; }
}
