@each $name, $color in $colors {
  //.background-color,
  .bg {
    &--#{$name} {
      background-color: $color;
    }
    &--#{$name}--l1 {
      background-color: lighten($color, 10%);
    }
    &--#{$name}--l2 {
      background-color: lighten($color, 20%);
    }
    &--#{$name}--d1 {
      background-color: darken($color, 10%);
    }
    &--#{$name}--d2 {
      background-color: darken($color, 20%);
    }
    @each $perc in (10,20,30,40,50,60,70,80,90) {
      &--#{$name}--o#{$perc} {
        background-color: rgba($color, $perc/100);
      }
    }
  }
  .hover {
    //&--background-color--#{$name}:hover,
    &--bg--#{$name}:hover {
      background-color: $color;
    }
  }
}
.bg--dazzle,
.bg--dazzle--orange1,
.bg--dazzle--orange2
 {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    //background-color: rgba(color(orange), 50/100);
    background-color: #F15E22;
    top: -2px;
    left: -2px;
    right: 2px;
    bottom: 2px;
    z-index: -2;
    border-radius: inherit;
  }
  &:after {
    content: "";
    position: absolute;
    border: 2px solid black;
    top: 2px;
    left: 2px;
    right: -2px;
    bottom: -2px;
    border-radius: inherit;
  }
}
.bg--dazzle--orange1
 {
   &:before {
     background-color:#FFA22B;
   }
 }
.bg--dazzle--orange2
 {
   &:before {
     background-color: #FF7E00;
   }
 }
