/*Update, consider adding border-y props
* and remove extends, cause we don't need it.
*
*/
.border {
  @extend .border-width--xs;
  @extend .border-color--gray-2;
  @extend .border-style--solid;
  &-top {
    @extend .border-color--gray-2;
    @extend .border-width--none;
    @extend .border-style--solid;
    @extend .border-top-width--xs;
  }
  &-right {
    @extend .border-color--gray-2;
    @extend .border-width--none;
    @extend .border-style--solid;
    @extend .border-right-width--xs;
  }
  &-bottom {
    @extend .border-color--gray-2;
    @extend .border-width--none;
    @extend .border-style--solid;
    @extend .border-bottom-width--xs;
  }
  &-left {
    border-color: color(gray-2);
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 1px;
    border-style: solid;
  }
}
