
.border-radius {
  @each $name, $width in $border-widths {
    &--#{$name} { border-radius:  $width; }
  }
  &--100 { border-radius: 100%; }
}
.rounded {
  border-radius: border-width(md);
}
.circle {
  border-radius: 100%;
}
