@each $name, $color in $colors {
  .button--#{$name} {
    @include button();
    border-color: $color;
    background-color: $color;
    color: color-contrast($color);//$white;
    &:visited {
      color: color-contrast($color);//$white;
    }
    &:hover{
      background-color: mix(white, $color, 20%);
      color: color-contrast(mix(white, $color, 20%));
    }
    &:active,
    &.active {
      background-color: mix(black, $color, 20%);
      color: color-contrast(mix(black, $color, 20%));
    }
    &:focus {
      box-shadow: 0 0 2px darken($color, 20%);
    }
<<<<<<< HEAD
=======
  }
  .button--outline--#{$name} {
    @include button();
    border-color: $color;
    border-width: 1px;
    background-color: color(white);
    color: $color;//$white;
    &:visited {
      background-color: color-contrast($color);//$white;
      color: $color;
    }
    &:hover{
      background-color: mix(white, $color, 20%);
      color: color-contrast(mix(white, $color, 20%));
    }
    &:active,
    &.active {
      background-color: mix(black, $color, 20%);
      color: color-contrast(mix(black, $color, 20%));
    }
    &:focus {
      box-shadow: 0 0 2px darken($color, 20%);
    }
>>>>>>> 073485da54bb344be4f62e5a2cbbb1a46f75d75b
  }
}
