@each $name, $color in $colors {
  .button--#{$name} {
    @include button();
    border-color: $color;
    background-color: $color;
    color: color-contrast($color);//$white;
    &:visited {
      color: color-contrast($color);//$white;
    }
    &:hover{
      background-color: mix(white, $color, 20%);
      color: color-contrast(mix(white, $color, 20%));
    }
    &:active,
    &.active {
      background-color: mix(black, $color, 20%);
      color: color-contrast(mix(black, $color, 20%));
    }
  }
}
