a {
  color: $link-color;
}
a:active {
  color: $link-color-active;
}
a:visited {
  color: $link-color-visited;
}
a:hover {
  color: $link-color-hover;
}

@each $name, $color in $colors {
  .color--#{$name},
  .#{$name} {
    color: $color;
  }
  a.color--#{$name},
  a.color--#{$name}:active,
  a.color--#{$name}:visited,
  a.color--#{$name}:hover {
    color: $color;
  }
  .color--#{$name}--l1,
  .#{$name}--l1 {
    color: lighten($color, 10%);
  }
  .color--#{$name}--l2,
  .#{$name}--l2 {
    color: lighten($color, 20%);
  }
  .color--#{$name}--d1,
  .#{$name}--d1 {
    color: darken($color, 10%);
  }
  .color--#{$name}--d2,
  .#{$name}--d2 {
    color: darken($color, 20%);
  }
  .hover {
    &--color--#{$name}:hover,
    &--#{$name}:hover {
      color: $color;
    }
  }
}

.color {
  //&--white    { color: $white; }
  //&--gray-1   { color: $gray-1; }
  ///&--gray-2   { color: $gray-2; }
  //&--gray-3   { color: $gray-3; }
  //&--gray-4   { color: $gray-4; }
  //&--gray-5   { color: $gray-5; }
  //&--black    { color: $black; }
  //&--twitter  { color: $twitter; }
  //&--facebook { color: $facebook; }
}
/*
.hover {
  &--color {
    &--white:hover    { color: $white; }
    &--gray-1:hover   { color: $gray-1; }
    &--gray-2:hover   { color: $gray-2; }
    &--gray-3:hover   { color: $gray-3; }
    &--gray-4:hover   { color: $gray-4; }
    &--gray-5:hover   { color: $gray-5; }
    &--black:hover    { color: $black; }
    &--twitter:hover  { color: $twitter; }
    &--facebook:hover { color: $facebook; }
  }
}
*/
