body {
  color: color(gray-4);
}

a {
  color: $link-color;
}
a:active {
  color: $link-color-active;
}
a:visited {
  color: #F6891E;
}
a:hover {
  transition: all 0.3s ease-in;
  color: #F15E22;
}
.color--inherit,
.color--inherit:hover,
.color--inherit:active,
.color--inherit:visited {
  color: inherit;
}
@each $name, $color in $colors {
  .color--#{$name},
  a.color--#{$name},
  a.color--#{$name}:active,
  a.color--#{$name}:visited,
  a.color--#{$name}:hover {
    color: $color;
  }
}
@each $name, $color in $colors {
  .hover {
    &--color--#{$name}:hover,
    &--#{$name}:hover {
      color: $color;
    }
  }
  a.hover {
    &--color--#{$name}:hover,
    &--#{$name}:hover {
      color: $color;
    }
  }
}

/*If you do not want the standard visited link color to apply,
* ie for nav, footers, etc. use this class.
*/
.novisit {
  color: $link-color;
    &:visited {
      color: $link-color;
  }
    &:hover {
      transition: all 0.3s ease-in;
      color: #F15E22;
  }
}
/*If you do not want the standard link color to apply
* ie for lists of content.
*/
a.mutelink,
.mutelink a {
  color: color(gray-4);
  &:visited {
    color: color(gray-4);
  }
  &:hover {
    transition: all 0.3s ease-in;
    color: #F15E22;
  }
}


.icon-soc {
  border: 1px #4d4d4f solid;
  border-radius: 50%;

  i {
    color:#4d4d4f;
  }

  &:hover,
  &:focus {
    border-color:#F15E22;

    i {
      color: #F15E22;
    }
  }
}

// All elements with this class will have links with an underline in them that is
// 40% of the standard orange, and highlights on hover.
.linkHighlight a {
  transition: box-shadow .1s cubic-bezier(0.895,.03,.685,.22);
  transition-property: box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-delay: initial;
  box-shadow: inset 0 -5px 0 0 rgba(247, 153, 31, .7);
  color: inherit;
  
  &:hover {
    box-shadow: inset 0 -40px 0 0 rgba(247, 153, 31, .7);
  }

  &.linkHighlight--override {
    transition: none;
    transition-property: none;
    transition-duration: 0s;
    transition-timing-function: none;
    transition-delay: 0s;
    box-shadow: none;
    color: none;
  }
}

