body {
  color: color(gray-4);
}

a {
  color: $link-color;
}
a:active {
  color: $link-color-active;
}
a:visited {
  color: #F6891E;
}
a:hover {
  transition: all 0.3s ease-in;
  color: #F15E22;
}
.color--inherit,
.color--inherit:hover,
.color--inherit:active,
.color--inherit:visited {
  color: inherit;
}
@each $name, $color in $colors {
  .color--#{$name},
  a.color--#{$name},
  a.color--#{$name}:active,
  a.color--#{$name}:visited,
  a.color--#{$name}:hover {
    color: $color;
  }
}
@each $name, $color in $colors {
  .hover {
    &--color--#{$name}:hover,
    &--#{$name}:hover {
      color: $color;
    }
  }
  a.hover {
    &--color--#{$name}:hover,
    &--#{$name}:hover {
      color: $color;
    }
  }
}

/*If you do not want the standard visited link color to apply,
* ie for nav, footers, etc. use this class.
*/
.novisit {
  color: $link-color;
    &:visited {
      color: $link-color;
  }
    &:hover {
      transition: all 0.3s ease-in;
      color: #F15E22;
  }
}
/*If you do not want the standard link color to apply
* ie for lists of content.
*/
a.mutelink,
.mutelink a {
  color: color(gray-4);
  &:visited {
    color: color(gray-4);
  }
  &:hover {
    transition: all 0.3s ease-in;
    color: #F15E22;
  }
}


.icon-soc {
  border: 1px #4d4d4f solid;
  border-radius: 50%;

  i {
    color:#4d4d4f;
  }

  &:hover,
  &:focus {
    border-color:#F15E22;

    i {
      color: #F15E22;
    }
  }
}

// All elements with this class will have links with an underline in them that is 
// 40% of the standard orange, and highlights on hover. 
.linkHighlight a {
  transition: box-shadow .1s cubic-bezier(0.895,.03,.685,.22);
  transition-property: box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-delay: initial;
  box-shadow: inset 0 -5px 0 0 rgba(241, 94, 34, 0.4);
  color: inherit;
}

.linkHighlight a:hover {
  box-shadow: inset 0 -40px 0 0 rgba(241, 94, 34, 0.4);
}


.color {
  //&--white    { color: $white; }
  //&--gray-1   { color: $gray-1; }
  ///&--gray-2   { color: $gray-2; }
  //&--gray-3   { color: $gray-3; }
  //&--gray-4   { color: $gray-4; }
  //&--gray-5   { color: $gray-5; }
  //&--black    { color: $black; }
  //&--twitter  { color: $twitter; }
  //&--facebook { color: $facebook; }
}
/*
.hover {
  &--color {
    &--white:hover    { color: $white; }
    &--gray-1:hover   { color: $gray-1; }
    &--gray-2:hover   { color: $gray-2; }
    &--gray-3:hover   { color: $gray-3; }
    &--gray-4:hover   { color: $gray-4; }
    &--gray-5:hover   { color: $gray-5; }
    &--black:hover    { color: $black; }
    &--twitter:hover  { color: $twitter; }
    &--facebook:hover { color: $facebook; }
  }
}
*/
