
.line-height {
  @each $name, $height in $heights {
    &--#{$name} { line-height: $height; }
  }
  &--50  { line-height: 50%; }
  &--60  { line-height: 60%; }
  &--70  { line-height: 70%; }
  &--75  { line-height: 75%; }
  &--80  { line-height: 80%; }
  &--90  { line-height: 90%; }
  &--100 { line-height: 100%; }
  &--105 { line-height: 105%; }
  &--110 { line-height: 110%; }
  &--115 { line-height: 115%; }
  &--120 { line-height: 120%; }
}
