.list-style--check {
  padding-left: space(xl);
  li {
    list-style-type: none;
    padding-bottom: space(sm);
  }
  li:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: font-size(lg);
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: space(xl);
    margin-left: space(xl) * -1;
    text-align: left;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    content: '\e804';
  }
}

.list-style--renumber {
  padding-left: space(xxl);
  counter-reset: list-counter;
  li {
    list-style-type: none;
    padding-bottom: space(sm);
    counter-increment: list-counter;
  }
  li:before {
    content: counter(list-counter);
    font-weight: bold;
    background-color: color(black);
    text-align: center;
    color: color(white);
    border-radius: 1000px;
    font-size: font-size(lg);
    display: inline-block;
    width: space(xl);
    margin-left: space(xxl) * -1;

  }
}
