
@each $name, $perc in $widths {
  .push--#{$name} {
    @extend .position--relative;
    left: #{$perc};
  }
  .pull--#{$name} {
    @extend .position--relative;
    left: -#{$perc};
  }
}

@each $bp, $bp-value in $breakpoints {
  @media #{$bp-value} {
    @each $name, $perc in $widths {
      .#{$bp}--push--#{$name} {
        @extend .position--relative;
        left: #{$perc};
      }
      .#{$bp}--pull--#{$name} {
        @extend .position--relative;
        left: -#{$perc};
      }
    }
  }
}
