
html {
  font-size: $font-size;
}

body {
  font-family: $font-family;
  line-height: $line-height;
  font-size: 100%;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  padding: 0;
  margin: 0;
}

h1, .h1 {
  font-size: $h1;
  padding: space(lg) 0;
}
h2, .h2 {
  font-size: $h2;
  padding: space(md) 0;
}
h3, .h3 {
  font-size: $h3;
  padding: space(md) 0;
}
h4, .h4 {
  font-size: $h4;
}
h5, .h5 {
  font-size: $h5;
}
h6, .h6 {
  font-size: $h6;
}

p {
  margin: 0;
  padding: space(md) 0;
  //max-width: 37rem;
}
.prose {
  max-width: 37rem;
}

@each $name, $size in $font-sizes {
  .font-size--#{$name} {
    font-size: #{$size};
  }
}

// Creates width rules for each breakpoint
@each $bp, $bp-value in $breakpoints {
  @media #{$bp-value} {
    @each $name, $size in $font-sizes {
      .#{$bp}--font-size--#{$name} {
        font-size: #{$size};
      }
    }
  }
}
@each $bp, $bp-value in $breakpoints {
  @media #{$bp-value} {
    .#{$bp}--text-align {
      &--left     { text-align: left; }
      &--center   { text-align: center; }
      &--right    { text-align: right; }
      &--inherit  { text-align: inherit; }
    }
  }
}
@mixin caps {
  text-transform: uppercase;
  letter-spacing: .11rem;
}

.caps {
  @include caps();
}
