//
// Display
// -------------
.display {
  &--none         { display: none; }
  &--block        { display: block; }
  &--inline       { display: inline; }
  &--inline-block { display: inline-block; *display: inline; zoom: 1}
  &--inline-table { display: inline-table; }
  &--table        { display: table; }
  &--table-cell   { display: table-cell; }
  &--table-column { display: table-column; }
  &--table-row    { display: table-row; }
  &--flex         { display: flex;  }
}


//Adds breakpoints for flex values. 
//TODO: expand logic to include all display types?
@each $bp, $bp-value in $breakpoints {
  @media #{$bp-value} {
     .#{$bp}--display--flex {
      display: flex;
    }
  }
}