@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800);

/* import from npm
   1. popular reset css
   2. css foundation, see http://www.basscss.com
   3. inline grid components from https://github.com/suitcss/suit
*/
@import "normalize.css";            /* 1 */
@import "basscss";                  /* 2 */
@import "suitcss-components-grid";  /* 3 */

/* override some of basscss's variables */
:root {
  --font-family: 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
  --heading-font-weight: 800;
  --container-width: 34em;
  /* colors */
  --blue: #577bbd;
  --navy: #1e4497;
  --teal: #048499;
  --green: #018241;
  --olive: #faad1d;
  --lime: #91ae3c;
  --yellow: #fedc00;
  --orange: #f15322;
  --red: #ec2126;
  --purple: #26225e;
  --maroon: #85144b;
  --sienna: #9e2420; /* new */
}
