.animate {
  animation-duration: .4s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;//cubic-bezier(0.1, 0.7, 1.0, 0.1);
  //animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.animate--all {
  transition: all 0.5s ease;
}
.animate-duration {
  &--1 {
    animation-duration: .1s;
  }
  &--2 {
    animation-duration: .2s;
  }
  &--3 {
    animation-duration: .3s;
  }
  &--4 {
    animation-duration: .4s;
  }
  &--5 {
    animation-duration: .5s;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
.animate--spin {
  animation: spin 2s infinite linear;
  //display: inline-block;
}

@keyframes slide-in-right {
  0%   {
    transform: translate3d(400px, 0, 0);
    animation-timing-function: ease-out;
  }
  75%  {
    transform: translate3d(-5px, 0, 0);
    //animation-timing-function: ease-out;
  }
  95%  { transform: translate3d(3px, 0, 0);  }
  100% { transform: translate3d(0, 0, 0); }
}

.animate--slide-in-right  {
  animation-name: slide-in-right;
  position: relative;
}
@keyframes slide-out-left {
  0%   { transform: translate3d(0, 0, 0); }
  75%  { transform: translate3d(5%, 0, 0);  }
  95%  { transform: translate3d(-3%, 0, 0);  }
  100% { transform: translate3d(-100%, 0, 0); }
}
.animate--slide-out-left  {
  animation-name: slide-out-left;
}

@keyframes slide-in-down {
  0%   { transform: translate3d(0, 0, 0); }
  75%  { transform: translate3d(0, 5%, 0);  }
  95%  { transform: translate3d(0, 10%, 0);  }
  100% { transform: translate3d(0, 100%, 0); }
}
.animate--slide-in-down  {
  animation-name: slide-in-down;
}

@keyframes giggle {
  0%   { transform: translate3d(-2px, 0, 0); }
  25%  { transform: translate3d(2px, 0, 0); }
  50%  { transform: translate3d(-2px, 0, 0); }
  75%  { transform: translate3d(2px, 0, 0);  }
  100% { transform: translate3d(0, 0, 0); }
}
.animate--giggle {
  animation-name: giggle;
}
@keyframes fade-back {
  0%   { transform: scale(1.02, 1.02); }
  25%  { transform: scale(1, 1); }
  50%  { transform: scale(.8, .8);
         opacity: .7;
       }
  75%  { transform: scale(.8, .8); }
  100% { transform: scale(.1, .1);
         opacity: .3; }
}
.animate--fade-back {
  //animation-name: fade-back;
  opacity: 0;
  transform: scale(0);
  transition: transform .4s ease-in, opacity .4s ease-in;
}
@keyframes fade-in {
  0%   { transform: scale(.99, .99);
         opacity: .7; }
  75%  { transform: scale(1.01, 1.01);
        opacity: 1;}
  100% { transform: scale(1,1);}
}
.animate--fade-in {
  animation-name: fade-in;
}
@keyframes subtle-focus {
  0%   { transform: scale(1, 1); }
  50%  { transform: scale(1.01, 1.01); }
  100%  { transform: scale(1, 1); }
}
.animate--subtle-focus {
  animation-name: subtle-focus;
}
