
@mixin hide($media:"") {
  @if $media != "" {
    @media #{breakpoint($media)} {
      display: none !important;
    }
  } @else {
    display: none !important;
  }
}

@mixin invisible($media:"") {
  @if $media != "" {
    @media #{breakpoint($media)} {
      position: absolute !important;
      overflow: hidden !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
    }
  } @else {
    position: absolute !important;
    overflow: hidden !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
  }
}

.hide,
.hidden {
  display: none !important;
}

.invisible {
  @include invisible();
}

@media print {
  .print--hide,
  .print--hidden {
    display: none !important;
  }
}
@each $bp, $bp-value in $breakpoints {
  @media #{$bp-value} {
    .#{$bp}--hide,
    .#{$bp}--hidden {
      display: none !important;
    }
  }
}


@each $bp, $bp-value in $breakpoints {
  @media #{$bp-value} {
    .#{$bp}--invisible {
      position: absolute !important;
      overflow: hidden !important;
      width: 1px !important;
      height: 1px !important;
      padding: 0 !important;
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important;
    }
  }
}
