
@mixin show($media:"") {
  @if $media != "" {
    @media #{breakpoint($media)} {
      display: block !important;
    }
  } @else {
    display: block !important;
  }
}

@each $bp, $bp-value in $breakpoints {
  .#{$bp}--show {
    @include hide();
  }
  @media #{$bp-value} {
    .#{$bp}--show {
      display: block !important;
    }
  }
}

.js--show {
  display: none;
}
.js {
  .js--show {
    display: block !important;
  }
}
@media print {
  .print--show
    display: block !important;
  }
}
