
@each $name, $perc in $widths {
  .square--#{$name} {
    height: 0;
    padding-bottom: $perc;
    width: $perc;
  }
}
@each $name, $height in $heights {
  .square--#{$name} {
    height: 0;
    padding-bottom: $height;
    width: $height;
  }
}
